@font-face {
    font-family: Gella;
    src: url(../fonts/GellaDisplay-ExpandedMedium.otf);
}
@font-face {
    font-family: Joker;
    src: url(../fonts/Joker.otf);
}
@font-face {
    font-family: Pixel;
    src: url(../fonts/Micro5Charted-Regular.ttf);
}

* {
    font-family: Joker, Arial;
    margin: 0;
}

header, .fps {
    /* display: none; */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #101010;
}

.flash-yellow {
    animation: flash .5s ease;
}

header {
    position: absolute;
    top: 10vh;
    color: #f4f3f3;
    font-size: 30px;
    text-align: center;
}

header h1 {
    font-size: 30px;
    margin-bottom: 3vh;
}

.reload {
    display: flex;
    font-family: Gella, Arial;
    color: #f4f3f3;
    text-decoration: none;
    justify-content: center;
}

.reload img {
    width: 35px;
    height: 35px;
}

.life-container {
    position: absolute;
    top: 25vh;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
.life {
    background-image: url(../img/heart.png);
    background-size: contain;
    filter: invert(1);
    width: 40px;
    height: 40px;
    /* background-color: red;
    border-radius: 50%; */
    margin: 0 5px;
}

#game-container {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: transparent;
    border: 2px solid #f4f3f3;
    border-radius: 50%;
    /* overflow: hidden; */
}

#ball, .ball {
    position: absolute;
    top: -1000vh;
    width: 20px;
    height: 20px;
    background-color: #f4f3f3;
    border-radius: 50%;
    z-index: 10;
}

.balls-count {
    font-size: 60px;
    font-family: Pixel;
    color: #8d8d8d;
    position: absolute;
}

.plus-sign {
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url(../img/Plus_energy.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: red; */
    /* color: white; */
    border-radius: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    z-index: 1;
    animation: ease-in plusSign 3.1s;
}

.exit-area {
    position: absolute;
    width: 4px;
    height: 4px;
    top: 25%;
    left: 6%;
    background: #101010;
    box-shadow: 0px 0px 0px 17px #101010;
}

.center-line {
    width: 100vw;
    height: 100vh;
    /* background: #00000026; */
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: grayscale(1);
    z-index: 999;
    pointer-events: none;
    animation: ease-in fadeIn .3s;
    font-size: 40px;
}

.center-line.start p {
    color: #ffffff;
    filter: drop-shadow(2px 4px 6px rgb(0, 174, 255));
}

.center-line.game-over p {
    color: #ff0000;
    filter: drop-shadow(2px 4px 6px red);
}

.center-line.win p {
    color: #00ff37;
    filter: drop-shadow(2px 4px 6px rgb(0, 255, 42));
}

.red-segment {
    position: absolute;
    width: 70px;
    height: 70px;
    /* background: #82020C;
    background: linear-gradient(135deg, #82020C, #D3233E); */
    /* border-radius: 10px; */
    backdrop-filter: invert(1);
    /* clip-path: path('M0,2 C40,6 40,6 80,1 L80,5 C70,10 20,14 0,6 Z');
    -webkit-clip-path: path('M0,2 C40,6 40,6 80,1 L80,5 C70,10 20,14 0,6 Z'); */
    /* border: 2px solid rgb(185, 0, 0); */
}

.red-segment::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../img/NPCimg.png);
    background-size: contain;
    /* animation: fast-rotating linear infinite 2s; */
}

.fps {
    position: absolute;
    bottom: 10vh;
    color: #f4f3f3;
    font-size: 16px;
}

.fps span{
    font-family: Gella;
}

@keyframes fast-rotating {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}

@keyframes flash {
    0% {
        border-color: #f4f3f3;
    }
    25% {
        border-color: rgb(248, 230, 67);
    }
    100% {
        border-color: #f4f3f3;
    }
}

@keyframes plusSign {
    0% {
        margin-top: 0px;
    }
    20% {
        margin-top: -2px;
    }
    60% {
        margin-top: 2px;
        opacity: 1;
    }
    100% {
        margin-top: -2px;
        opacity: 0;
    }   
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}