@font-face {
    font-family: Joker;
    src: url(../fonts/Joker.otf);
}
@font-face {
    font-family: Pixel;
    src: url(../fonts/Micro5Charted-Regular.ttf);
}

* {
    font-family: Joker, Arial;
    margin: 0;
}

html {
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

a, button {
    cursor: pointer;
}

header, .fps {
    /* display: none; */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #101010;
}

.flash-yellow {
    animation: flash .5s ease;
}

header {
    position: absolute;
    top: 5vh;
    max-width: 80vw;
    width: 280px;
    color: #f4f3f3;
    font-size: 30px;
    text-align: center;
}

header h1 {
    font-family: Pixel;
    font-weight: 100;
    font-size: 50px;
    margin-bottom: 3vh;
}

.header__bottom {
    display: flex;
    justify-content: space-between;
}

.reload {
    display: flex;
    color: #f4f3f3;
    text-decoration: none;
    justify-content: center;
}

.reload img {
    width: 30px;
    height: 30px;
}

.header__settings {
    font-size: 20px;
    border: none;
    filter: drop-shadow(2px 4px 6px rgb(0, 174, 255));
    background: none;
    color: #f3f3f3;
}

.header__settings img {
    height: 30px;
}

.settings {
    display: none;
}

.settings__close {
    position: absolute;
    inset: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    z-index: 30;
}

.settings__container {
    color: #ffffff;
    position: absolute;
    width: 90vw;
    height: 90vh;
    inset: 5vh 5vw;
    background-color: #ffffff47;
    z-index: 31;
    clip-path: polygon(20px 0, 100% 0, 100% 10px, calc(100% - 3px) 15px, calc(100% - 3px) 50px, 100% 55px, 100% calc(100% - 20px), 
    calc(100% - 20px) 100%, 0 100%, 0 calc(100% - 10px), 3px calc(100% - 15px), 3px calc(100% - 50px), 0 calc(100% - 55px), 0 20px);
}

.settings__container img.close {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20px;
    height: 20px;
    padding: 20px;
}

.settings__container button {
    height: 30px;
    width: calc(100% - 30px);
    margin: 5px 15px;
}

.settings__item {
    margin: 15px 0px;
    font-family: monospace;
    font-size: 16px;
}

.settings__field {
    height: calc(100% - 90px);
    box-sizing: border-box;
    overflow: scroll;
    margin-top: 50px;
    padding: 0px 15px 15px;
}

.setting-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}

.setting-row input[type="range"] {
    width: 70%;
}

.setting-row input[type="number"] {
    width: 30%;
    background: #0000007d;
    font-family: monospace;
    border: 1px solid #f4f3f3;
    text-align: center;
    color: #f4f3f3;
    filter: drop-shadow(2px 4px 6px #f4f3f3);
    clip-path: polygon(5px 0px, 100% 0px, 100% calc(100% - 15px), calc(100% - 5px) 100%, 0 100%, 0 15px);
}

/* Общий стиль для слайдера */
input[type="range"] {
    -webkit-appearance: none; /* Убирает стандартный стиль WebKit */
    width: 100%;
    height: 4px;
    background: #f4f3f3;
    border-radius: 5px;
    outline: none;
    filter: drop-shadow(2px 4px 6px #f3f4f4);
}

/* Стилизация ползунка для WebKit браузеров */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4px;
    height: 20px;
    background: #f4f3f3;
    cursor: pointer;
}

/* Стилизация ползунка для Firefox */
input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4px;
    height: 20px;
    background: #ff2b2b;
    cursor: pointer;
}

/* Стилизация ползунка для IE и Edge */
input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4px;
    height: 20px;
    background: #00e745;
    cursor: pointer;
}

.life-container {
    position: absolute;
    top: 25vh;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
.life {
    background-image: url(../img/heart.png);
    background-size: contain;
    filter: invert(1);
    width: 40px;
    height: 40px;
    /* background-color: red;
    border-radius: 50%; */
    margin: 0 5px;
}

#game-container {
    position: relative;
    width: 290px;
    height: 290px;
    background-color: transparent;
    border: 2px solid #f4f3f3;
    border-radius: 50%;
    /* overflow: hidden; */
}

#ball, .ball {
    position: absolute;
    top: -1000vh;
    width: 20px;
    height: 20px;
    background-color: #f4f3f3;
    border-radius: 50%;
    z-index: 10;
}

.balls-count {
    font-size: 60px;
    font-family: Pixel;
    color: #8d8d8d;
    position: absolute;
}

.plus-sign {
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url(../img/Plus_energy2.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    z-index: 1;
    animation: ease-in plusSign 3.1s;
}

.exit-area {
    position: absolute;
    width: 4px;
    height: 4px;
    top: 10%;
    left: 79%;
    background: #101010;
    box-shadow: 0px 0px 0px 17px #101010;
}

.center-line {
    width: 100vw;
    height: 100vh;
    /* background: #00000026; */
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: grayscale(1);
    -webkit-backdrop-filter: grayscale(1);
    z-index: 25;
    pointer-events: none;
    animation: ease-in fadeIn .3s;
    font-size: 40px;
}

.center-line.start p {
    color: #ffffff;
    filter: drop-shadow(2px 4px 6px rgb(0, 174, 255));
}

.center-line.game-over p {
    color: #ff0000;
    filter: drop-shadow(2px 4px 6px red);
}

.center-line.win p {
    color: #00ff37;
    filter: drop-shadow(2px 4px 6px rgb(0, 255, 42));
}

.red-segment {
    position: absolute;
    width: 70px;
    height: 70px;
    /* background: #82020C;
    background: linear-gradient(135deg, #82020C, #D3233E); */
    /* border-radius: 10px; */
    backdrop-filter: invert(1);
    -webkit-backdrop-filter: invert(1);
    /* clip-path: path('M0,2 C40,6 40,6 80,1 L80,5 C70,10 20,14 0,6 Z');
    -webkit-clip-path: path('M0,2 C40,6 40,6 80,1 L80,5 C70,10 20,14 0,6 Z'); */
    /* border: 2px solid rgb(185, 0, 0); */
}

.red-segment::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../img/NPCimg.png);
    background-size: contain;
    /* animation: fast-rotating linear infinite 1.5s; */
}

.fps {
    position: absolute;
    bottom: 10vh;
    color: #f4f3f3;
    font-size: 16px;
}

.fps span{
    font-family: Pixel, monospace;
    font-size: 1.7rem;
}

@keyframes fast-rotating {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}

@keyframes flash {
    0% {
        /* border-color: #f4f3f3; */
        box-shadow: 0px 0px 0px #fff;
    }
    25% {
        /* border-color: rgb(248, 230, 67); */
        box-shadow: 0px 0px 15px #fff;
    }
    100% {
        /* border-color: #f4f3f3; */
        box-shadow: 0px 0px 0px #fff;
    }
}

@keyframes plusSign {
    0% {
        margin-top: 0px;
    }
    20% {
        margin-top: -2px;
    }
    60% {
        margin-top: 2px;
        opacity: 1;
    }
    100% {
        margin-top: -2px;
        opacity: 0;
    }   
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}